.footer{
    background-color: var(--color-primary-6);
}
.footer-itens{
    display: flex;
    justify-content: space-between;
    padding: 30px 8% 24px 8%;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.copyright{
    color: var(--color-neutra-2);
    font-weight: 500;
    font-size: 18px;
}